<style>
    * {
      box-sizing: border-box;
    }
  
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    .header {
      overflow: hidden;
      background-color:mediumspringgreen;
      padding: 15px 20px;
     
    }
  
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }
  
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }
  
    .header a:hover {
      background-color: #ddd;
      color: black;
    }
  
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }
  
    .header-right {
      float: right;
    }
  
    @media screen and (max-width: 700px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
  </style>
  
  <div class="header">
    <a href="#default" class="logo">Welcome To Music App</a>
    <div class="header-right">
       <a routerLink="/album" routerLinkActive="active">Album</a>
     <a routerLink="/artist" routerLinkActive="active">Artist</a>
      <a class="active" routerLink="/signup" routerLinkActive="active">signup</a
      >
      <a routerLink="/contactus" routerLinkActive="active">Contact</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
  </div>
  
  <img
    src="assets/imag.jpg"
    alt="music info"
    width="1368px"
    height="450px"
  />
  
  <footer>
    <p>
      © Music.com 2022, All Rights Reserved <br>
    
    </p>
  </footer>
